* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  list-style-position: outside;
}

body .recipe__main-img {
  width: 100%;
}
body .recipe ul, body .recipe ol {
  display: grid;
  gap: 0.75rem;
  margin-left: 1rem;
  padding: 1rem 0.5rem;
}
body .recipe ul li, body .recipe ol li {
  padding: 0 0 0 1rem;
}
body .recipe hr {
  background-color: #5f574e;
  opacity: 0.3;
}
body .recipe .recipe__content {
  padding: 2rem;
  display: grid;
  gap: 1.25rem;
}
body .recipe__title {
  font-family: "Young Serif", sans-serif;
  font-weight: 500;
  font-size: 2.25rem;
  color: #302d2c;
  line-height: 35px;
}
body .recipe__description {
  color: #5f574e;
  font-weight: 500;
  line-height: 22px;
}
body .recipe__preparation-time {
  background-color: #fff5fa;
  display: grid;
  gap: 0.5rem;
  padding: 1rem 1.5rem 1.5rem;
  margin: 1rem 0 0.5rem;
  border-radius: 10px;
  color: #5f574e;
}
body .recipe__preparation-time ul {
  padding: 0.5rem 0 0 0.5rem;
}
body .recipe__preparation-time ul li::marker {
  font-size: 0.7rem;
  padding: 1rem;
}
body .recipe__preparation-time-title {
  font-size: 1.25rem;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  color: #7b284f;
}
body .recipe__subheading {
  font-family: "Young Serif", sans-serif;
  color: #854632;
  font-size: 1.75rem;
  font-weight: 400;
}
body .recipe__ingredients ul {
  padding: 1rem 0 1rem 0.5rem;
}
body .recipe__ingredients ul li {
  color: #5f574e;
  font-weight: 500;
}
body .recipe__ingredients ul li::marker {
  font-size: 0.7rem;
  padding: 1rem;
}
body .recipe__instructions ol {
  padding: 1rem 0 1rem 0.5rem;
}
body .recipe__instructions ol li {
  color: #5f574e;
  font-weight: 500;
  line-height: 22px;
}
body .recipe__instructions ol li::marker {
  font-size: 1rem;
  font-weight: 700;
  color: #854632;
}
body .recipe__nutrition {
  display: grid;
  gap: 1rem;
  color: #5f574e;
  font-weight: 500;
}
body .recipe__nutrition-table-description {
  line-height: 22px;
}
body .recipe__nutrition-table tbody tr {
  display: grid;
  grid-template-columns: 35% 35%;
  gap: 1rem;
  justify-content: center;
  padding: 0.75rem 1rem;
  border-bottom: 1px solid #e4ded8;
}
body .recipe__nutrition-table tbody tr:last-child {
  border: none;
}
body .recipe__nutrition-numbers {
  font-weight: 700;
  color: #7b284f;
}
body .attribution {
  display: none;
}

@media screen and (min-width: 560px) {
  body {
    min-height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #f3e6d8;
  }
  body .recipe {
    margin: 7.5rem 0;
    background-color: #ffffff;
    max-width: 740px;
    border-radius: 30px;
    padding: 2.5rem 2.5rem 1.5rem 2.5rem;
  }
  body .recipe__main-img {
    border-radius: 15px;
  }
  body .recipe hr {
    margin: 0.3rem 0;
    opacity: 0.1;
  }
  body .recipe .recipe__content {
    padding: 2rem 0.5rem 0;
    gap: 1rem;
  }
  body .recipe__title {
    font-size: 2.5rem;
    font-weight: 500;
  }
  body .recipe__description {
    line-height: 25px;
  }
  body .recipe__preparation-time {
    padding: 1.5rem 1.5rem 2rem;
  }
  body .recipe__preparation-time-title {
    font-size: 1.25rem;
  }
  body .recipe__ingredients ul li {
    font-size: 1rem;
  }
  body .recipe__instructions ol {
    display: grid;
    gap: 0.6rem;
    padding: 1rem 0 1rem 0.5rem;
  }
  body .recipe__instructions ol li {
    font-size: 1rem;
    line-height: 22px;
  }
  body .recipe__instructions ol li::marker {
    font-size: 1rem;
  }
  body .recipe__nutrition {
    display: grid;
    gap: 1rem;
    color: #5f574e;
    font-weight: 500;
  }
  body .recipe__nutrition-table tbody tr {
    grid-template-columns: 1fr 1fr;
    padding: 0.75rem 1rem;
    border-bottom: 1px solid #e4ded8;
  }
  body .recipe__nutrition-table tbody tr td {
    text-align: start;
    padding-left: 1rem;
  }
}/*# sourceMappingURL=style.css.map */